<!--The content below is only a placeholder and can be replaced.-->
  <h2 class="appHead">Task Manager</h2>
  <ul class="nav">
     <li class="nav-item">
       <a id="viewtask" class="nav-link" routerLink="/viewtask" routerLinkActive="active" style="padding-left: 0">View Task</a>
     </li>
     <li class="nav-item">
       <a id="addtask" class="nav-link" routerLink="/addtask" routerLinkActive="active">Add Task</a>
     </li>
   </ul> 
   <!-- <nav>
     <a routerLink="/viewtask" routerLinkActive="active">View Task</a>
     <a routerLink="/addtask" routerLinkActive="active">Add Task</a>
   </nav> -->
   <router-outlet></router-outlet>
 <!-- <div class="container content"> 
   <div class="row">            
     <div class="col-md-6">     
      ABC
     </div>
     <div class="col-md-6">    
     ABCDFEF
     </div>
   </div>
 </div> -->